<html>
    <head>
        <title> Trash </title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/>
        <script src="https:/ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
        <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.4/dist/angular-nvd3.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

        <script src="/javascripts/angularApp.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    
    <body ng-app="Trashy">
    <div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="#">Trash Market</a>
        <ul class="nav navbar-nav">
            <li><a href="#">Raw Data</a></li> 
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Trends
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/daily-trends">Daily</a></li>
                    <li><a href="#/weekly-trends">Weekly</a></li>
                    <li><a href="#/monthly-trends">Monthly</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ui-view></ui-view>
            </div>
        </div>
    <script type="text/ng-template" id="/home.html">
        <div class="page-header">
            <h1> Sensor Data Sample</h1>
        </div>
        
        <div ng-repeat="data in dataSample">
            {{data.time_stamp}} - level: {{data.trash_level}}%
        </div>

        <!-- Button and form to add sample -->
        <form ng-submit="addData()">
            <br>
            <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Enter Trash % Level"
                ng-model="level"></input>
            </div>
                
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </script>

    <script type="text/ng-template" id="/weekly-trends.html">
        <div class="page-header">
            <h2> Weekly Trends </h1>
        </div>
        <h3>{{date}}</h3>
        <div ng-controller="WeekPlotCtrl">
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </script> 

    <script type="text/ng-template" id="/daily-trends.html">
        <div class="page-header">
            <h2> Daily Trends </h1>
        </div>
        <h3>{{date}}</h3>
        <div ng-controller="DayPlotCtrl">
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </script> 

    <script type="text/ng-template" id="/monthly-trends.html">
        <div class="page-header">
            <h2> Monthly Trends </h1>
        </div>
        <h3>{{date}}</h3>
        <div ng-controller="MonthPlotCtrl">
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </script> 

    </body>
</html>


